.messenger {
    height: calc(100vh - 70px);
    display: flex;
    background: #080708;
    color: white;
  }
  
  .chatMenu {
    flex: 3;
  }
  
  .chatMenuInput {
    width: 98%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: none;
    border-bottom: 3px solid #a80823;
   outline: none;
background-color: inherit;
color: white
  }
  
  .chatBox {
    flex: 6;
    background-color: #080708;
  }
  .chatget{
    flex: 3;
  }
  .chatBoxWrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #080708;
  }
.suma{
  background-color: #000000;
  height: 100%;
}
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    background-color: #000000;
    padding-right: 10px;
  }
  .chatBoxTop::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .chatBoxTop::-webkit-scrollbar-track {
    background: inherit; 
  }
   
  /* Handle */
  .chatBoxTop::-webkit-scrollbar-thumb {
    background: #c9184a; 
  }
  
  /* Handle on hover */
  .chatBoxTop::-webkit-scrollbar-thumb:hover {
    background: #c9184a; 
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;

    background-color: #080708;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 85%;
 height: 40px;
    display: inline;
    border: none;
    overflow-y:hidden;
    border-bottom: 3px solid #a80823;
   outline: none;
background-color: #080708;
color: white
  }
  .ifbig{
    width: 98%;
 height: 60px;
    display: inline;
    border: none;
    overflow-y:hidden;
    border-bottom: 3px solid #a80823;
   outline: none;
background-color: #080708;
color: white
  }
  .scroll{
    width: 98%;
    height: 100px;
       display: inline;
       border: none;
       overflow-y:scroll;
       border-bottom: 3px solid #a80823;
      outline: none;
   background-color: #080708;
   color: white
  }
  .scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .scroll::-webkit-scrollbar-track {
    background: inherit; 
  }
   
  /* Handle */
  .scroll::-webkit-scrollbar-thumb {
    background: #c9184a; 
  }
  
  /* Handle on hover */
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #c9184a; 
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:#c9184a;
    color: white;
    margin: 4px;
    margin-bottom: 0px;

  }
  
.button{
  background: none;
color: white;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
  
  margin: 10px;
}
.close{
  text-align: right;
  font-family: 'Coda', cursive;
}.modelback{
  width: 100vw;
 
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: #f7f7f73a;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay{
  width: 30%;
  height: 50%;
  max-height: 400px;
  color: white;
  
}
  .chatMenuWrapp{
    padding: 10px;
    height: 98%;
  }

  .findWrapp{
    padding: 10px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 98%;
  }
  .chatBoxWrapp {
    height: 98%;
  }
  
  .noConversationText {
  
    display: flex;
    flex-direction: column;
 padding-top: 200px;
    font-size: 30px;
    color: #ff4d6d;
    cursor: default;
    text-align: center;
   background-color: inherit
  }
  .noConversationText2 {
  
    display: flex;
    flex-direction: column;
 padding-top: 7px;
    font-size: 1rem;
    color: #ff4d6d;
    cursor: default;
    text-align: center;
   background-color: inherit
  }
  .chatBoxHead{
    padding: 12px 16px;
    background-color: #800f2f;
    color:white
  }
  .newconq{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    box-sizing: border-box;
  }
  .newconq:hover {
    background-color: #a4133c;
  }
  
  .newconimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .svg {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }
  .svg path,
  .svg polygon,
  .svg rect {
    fill: #c9184a;
  }
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    
  }