.main{
    display: flex;
    justify-content: center;
    align-items: center;
     height: auto;
     margin: 0;
     padding: 0;
     width: 100vw;
     background-color: #080708;
    z-index: 1;
     color: white;
    min-height: 87vh;
    height: auto;
}
.left{
width: 30vw;
height: auto;
min-height: 87vh;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;

}
.right{
width: 70vw;
height: auto;
min-height: 87vh;
background-color: #212529;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
}
.menu{
 height: 35vh;
 width: 15vw;
}
.items{
    text-align: left;
    font-size: 1.3rem;
    padding-top: 12px;
    padding-bottom:12px;
}
.itemsel{
    text-align: left;
    font-size: 1.3rem;
    border-left: #212529 solid 7px;
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom:12px;

}
.itch{
   
    width: 55vw;
    height: auto;
    min-height: 60vh;
   
}

.sform{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     color: white;
    
    height: 75vh;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    background: #CB356B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .err{
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color:white;
    font-style: italic;

  }
  .ersub{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color:#e76f51;
    font-style: italic;
    text-align: center;

  }
 .line{
   text-decoration: overline;
 }
.title {
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: auto;
    padding-bottom: 15px;

}
  .control {
    font-size: 15pt;
    
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    box-sizing: border-box;
   

  }
  .placeholder{
    background-color: white;
    color: #080708;
    font-size: 1rem;

  }
  .control label {
    display: block;
    font-size: 1rem;
   
  }
 .control input{
  width: 100%;
  padding: 0.7rem 1rem;
  margin: 1rem 0;
  display: inline-block;
  border: 2px solid #00b4d8;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #caf0f8;
  color: black;

 }
  .actions {
    margin-top: 5px;
    text-align: right;
  }
  
  .actions button {
    background: none;
    font: inherit;
    cursor: pointer;
    background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: white;
    padding: 0.5rem 1.5rem;
    
    border-radius: 4px;
    font-weight: bold;
  }
  
  
  .actions button:disabled{
    background: #000428;
    
    cursor: not-allowed;
  }