
   
  .svg1 {
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
  .nav{
    background-color:#080708 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    position: sticky;
    top: 5rem;
    z-index: 2;
  }
  .svg1 path,
  .svg1 polygon,
  .svg1 rect {
    fill: white;
  }
  .svge:hover,
  .svge:active, 
  .svge:focus{
    background-color: #600538    ;
    border-radius: 50% ;
  }
  .svge{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
  }
 

  .sform{
    padding: 0;
    margin: 0;
   color: wheat;
   display: inline;

  }
  .control {
    font-size: 15pt;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
  
   

  }
  .incom{
    width: 98%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: none;
    border-bottom: 3px solid #a80823;
   outline: none;
background-color: inherit;
color: white
   
  }
  .incom::placeholder{
    color: #c0bebb	;
  }
  .combtn{
    display: inline;
    font: inherit;
    cursor: pointer;
    font-size: 1.18rem;
    background-color: inherit;
    
    padding:  8px  14px;
    border: 0px solid #c31432;
  
  color: white;
  
   
  }
  .combtn:disabled{
    color: #c31432;;
    cursor: not-allowed;
  }
  .btn{
    display: inline;
    font: inherit;
    cursor: pointer;
    font-size: 0.9rem;
    background-color:#c31432;;
    padding:  8px  14px;
    border: none;
    border-radius: 2rem;
    
  color: white;
  margin-left: 0.5rem ;
  margin-right: 0.5rem ;
  }
    
  .btn:hover{
    text-decoration: overline;
  }
  .nbtn{
    display: inline;
    font: inherit;
    cursor: pointer;
    font-size: 0.9rem;
    background-color:#0086b3;
    text-decoration: overline;
    padding:  8px  14px;
    border: none;
    border-radius: 2rem;
  color: white;
  margin-left: 0.5rem ;
  margin-right: 0.5rem ;
  }
  .noConversationText {
  
    font-size: 30px;
    color: #ff4d6d;
    cursor: default;
    text-align: center;
   background-color: inherit;
   padding-bottom: 1rem;
  
  }
  .flash{
    position:fixed;
    top: 7rem;
    height: auto;
    width: auto;
    max-width: 400px;
    
    background-color: #600538;
    color: white;
    text-align: center;
  padding:11px ;
  }
  .flash50{
    position:fixed;
    top: 7rem;
    height: auto;
    width: auto;
    max-width: 400px;
    font-size: 0.7rem;
    background-color: #600538;
    color: white;
    text-align: center;
  padding:11px ;
  }
  .commenu{
  
    float: right;
    margin-top: 4px;
     width: 0.9rem;
     height: 0.9rem;
     cursor: pointer;
     margin-left: 5px;
    
    }
  .nodiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  @media (max-width: 600px) {
    .logo {
     content: url('https://res.cloudinary.com/coderschat/image/upload/v1640415523/my-post/dmwwrdy5lhdez307oetq.png');
     width: 5rem;
     height: 5rem;
    }
    .header{
      background: #080708;
    }
    .button{
      background: #080708;
    }
  }
